- if can? :edit, @profile
  .controls
    = link_to content_tag(:span, '', :class => 'edit-icon'), edit_profile_path(@profile), 'data-pjax' => '#aux', :title => t('profile.edit_button'), :class => 'btn small'

%h2.name= @profile.name

.content
  = profile_pic_tag(@profile)

  - if @profile.headline
    .headline= @profile.headline

  .links
    - if @profile.facebook_url
      = link_to simple_url(@profile.facebook_url), @profile.facebook_url, :class => 'fb-icon'
    - if @profile.phone
      = link_to @profile.phone, "tel:#{@profile.phone}", :class => 'phone-icon'
    = link_to t('profile.send_message'), new_profile_message_url(@profile), 'data-pjax' => '#aux', :class => 'email-icon'

  .bio
    = profile_bio(@profile)

  - if @profile.location
    .map
    = hidden_field_tag :location, @profile.location

  -# TODO
  -#- if @profile.friends.any?
    -#%h3= t('profile.friends')
    -#%p
      -#- @profile.friends.each do |friend|
        -#= link_to(image_tag(friend.small_image_url, :alt => friend.name), friend)
