- if can? :edit, @profile
  .controls
    = link_to content_tag(:span, '', :class => 'edit-icon'), edit_profile_path(@profile), 'data-pjax' => '#aux', :title => t('profile.edit_button'), :class => 'btn small'

%h2.name= @profile.name

.content
  = profile_pic_tag(@profile)

  - if @profile.headline
    .headline= @profile.headline

  .links
    .email= @profile.user.email
    - if @profile.facebook_url
      = link_to simple_url(@profile.facebook_url), @profile.facebook_url, :class => 'fb-icon'
    - if @profile.phone
      = link_to @profile.phone, "tel:#{@profile.phone}", :class => 'phone-icon'
    - if @profile.facebook_id
      = link_to t('profile.send_message'), fb_message_url(@profile), :class => 'email-icon', :target => '_blank'
    - elsif @profile.user.email
      = mail_to @profile.user.email, t('profile.send_message'), :class => 'email-icon'
    - if @profile.birthday
      = link_to @profile.birthday.to_s(:short), event_url(@profile.next_birthday, t('profile.birthday', :name => @profile.name)), :class => 'bday-icon', :target => '_blank'

  .bio
    = profile_bio(@profile)

  - if @profile.location
    .map
    = hidden_field_tag :location, @profile.location

  - if current_user.roles?(:admin)
    .buttons
      - if @profile.user.workflow_state == "active"
        = link_to t('admin.dashboard.actions.inactivate'),   admin_user_path(@profile.user, :do => :inactivate), :method => :put, :class => 'btn danger'
      - else
        = link_to t('admin.dashboard.actions.activate'), admin_user_path(@profile.user, :do => :activate), :method => :put, :class => 'btn success'


  -# TODO
  -#- if @profile.friends.any?
    -#%h3= t('profile.friends')
    -#%p
      -#- @profile.friends.each do |friend|
        -#= link_to(image_tag(friend.small_image_url, :alt => friend.name), friend)
