- unless @profile.visible?
  .alert-message.warning= t('profile.not_visible_warning_html')

.row
  - layout_order(@profile.theme).each do |part|
    -# align profile-box on left or right depending on theme selection...
    - if 'profile-box' == part
      .span7.columns
        #profile-box
          = render :partial => 'profiles/box'
    - if 'alerts' == part
      .span9.columns
        #aux
          = yield(:aux)
        #alerts
          = profile_alerts
          / don't collapse
          &nbsp;

= theme_markup @profile.theme

= javascript_include_tag 'profile'
