= theme_stylesheet_path

- unless @profile.visible?
  .alert-message.warning= t('profile.not_visible_warning_html')

.row
  - layout_order(@profile.theme).each do |part|
    -# align profile-box on left or right depending on theme selection...
    - if 'profile-box' == part
      .span7.columns
        #profile-box
          .content
            = profile_pic_tag(@profile)

            %h2.name= @profile.name
            - if @profile.headline
              .headline= @profile.headline
            - if @profile.facebook_url
              .links= link_to simple_url(@profile.facebook_url), @profile.facebook_url, :class => 'facebook'
            %br{:clear => 'left'}

            %p= @profile.phone
            %p= @profile.location
            - if @profile.birthday
              %p= t('profile.birthday', :birthday => l(@profile.birthday, :format => :short))

            .map
            -# needs styling work...
            -#- if @profile.friends.any?
              -#%h3= t('profile.friends')
              -#%p
                -#- @profile.friends.each do |friend|
                  -#= link_to(image_tag(friend.small_image_url, :alt => friend.name), friend)
    - if 'alerts' == part
      .span9.columns
        #alerts
          = profile_alerts
          / don't collapse
          &nbsp;

= render :partial => 'map_js'

= theme_body_markup(@profile.theme)

- content_for(:head) do
  = theme_head_markup(@profile.theme)
