%h2= t('account.edit_form.heading')

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |form|
  %p= t('account.edit_form.intro')
  = form.input :email
  = form.input :current_password, :required => true
  = form.input :password, :hint => t('account.edit_form.password_change_note')
  #password_confirmation_field
    = form.input :password_confirmation
  %fieldset.actions
    = form.submit t('account.edit_form.save_button'), :class => 'btn primary'

%h3= t('account.edit_form.delete_heading')

%p
  = link_to t('account.edit_form.delete_button'), registration_path(resource_name), :confirm => t('account.edit_form.delete_action_confirm'), :method => :delete, :class => 'btn'
