.admin-box
  .inner
    %h3 Profiles Pending Activation

    - if @actions.pending_review.any?
      %table.admin-actions
        %tbody
          - @actions.pending_review.each do |user|
            %tr{:id => "user-#{user.id}"}
              %td
                - if user.profile
                  = link_to profile_pic_tag(user.profile, :tn), user.profile
                  %strong= link_to user.profile.name, user.profile
                  %br
                  - if user.email
                    = mail_to user.email
                  = link_to simple_url(user.profile.facebook_url), user.profile.facebook_url
                  = user.profile.phone
                  %br
                  = l(user.created_at, :format => :long)
                - else
                  = user.id
              %td.buttons
                = link_to t('admin.dashboard.actions.activate'), admin_user_path(user, :do => :activate), :method => :put, :remote => true, :class => 'btn success'
                = link_to t('admin.dashboard.actions.reject'),   admin_user_path(user, :do => :reject  ), :method => :put, :remote => true, :class => 'btn danger'
    - else
      %em= t('admin.dashboard.actions.none')
