%h2.dashboard-heading= t('admin.dashboard.heading')

.row
  .span8
    = render :partial => 'admin/dashboards/charts/sign_ups_by_date'
    = render :partial => 'admin/dashboards/charts/messages_by_date'
  .span8
    = render :partial => 'actions'

= javascript_include_tag 'admin_dashboard'
= stylesheet_link_tag 'admin_dashboard'
