!!! 5
%html
  %head
    %title
      = s('site.name')
      - if @sub_title
        == / #{@sub_title}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => body_class, 'data-profile-path' => @profile && profile_path(@profile)}

    .topbar
      .fill
        .container
          %h3
            %a{:href => '/'}= s('site.name')
          - if current_user
            %ul
              %li{:class => params[:controller] == 'profiles' && @profile && @profile.user == current_user && 'active'}
                = link_to t('nav.profile'), my_profile_path
              %li{:class => params[:controller] == 'users' && 'active'}
                = link_to t('nav.account'), edit_user_registration_path
              %li
                = link_to t('nav.log_out'), destroy_user_session_path, :method => :delete
            %form{:action => search_path, :method => :get, :id => 'search-form'}
              = text_field_tag :q, params[:q], :placeholder => t('nav.search_placeholder')
          - else
            %ul
              %li{:class => params[:controller] == 'homes' && 'active'}
                = link_to t('nav.home'), root_path
              %li
                = link_to t('nav.log_in'), new_user_session_path

    #main
      .container
        - sidebar = yield(:sidebar).to_s
        - if sidebar.blank?
          #messages
            = flash_messages
          = yield
        - else
          .row
            .span12.columns
              = flash_messages
              = yield
            .span4.columns
              .sidebar= sidebar

    .container
      #footer
        .content
          == &copy; #{Date.today.year}, #{s 'community.name'} &middot;
          %a{'href' => '/pages/privacy_policy'}= t('pages.privacy_policy')
          &middot;
          = t('app.powered_by_html')
